.stick-to-bottom {
	position: fixed;
	bottom: 3.5em;
	right: 0;
	z-index: 999999;
}


.wish-counter-widget {
	font-family: sans-serif;
	font-size: 20pt;
	line-height: 1.5;
}

.wish-to-go .badge:after {
	box-sizing: content-box;
}

.wish-to-go .wish-to-go-on-top {
	z-index: 1000;
  position: absolute;
}